.admin-dashboard-layout {
  display: flex;
  flex-direction: row;
  background-color: #505050;
  margin-top: 5%; /* Reduced margin to fit more content */
  margin-left: 6%; /* Reduced margin for better fit */
  width: 90%;
  height: 100%;
}

.admin-dashboard-container {
  padding: 30px; /* Increased padding for larger container */
  background-color: #252323;
  flex-grow: 1;
}

.admin-dashboard-header {
  margin-bottom: 30px; /* Increased margin below header */
}

.admin-dashboard-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Ensures three cards per row */
  gap: 30px; /* Increased space between the cards */
}

.admin-dashboard-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 6px; /* Slightly larger border radius */
  padding: 30px; /* Increased padding for a larger appearance */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Enhanced shadow for depth */
  font-size: 18px; /* Larger font size for content */
}

.admin-dashboard-card h2 {
  font-size: 24px; /* Increased font size for the title */
  margin-bottom: 20px; /* Added more space below the title */
}

.admin-dashboard-card p {
  font-size: 18px; /* Increased font size for the content */
  color: #333333;
}

.admin-dashboard-button {
  margin-top: 20px; /* Added more space above the button */
  padding: 12px 20px; /* Increased button padding */
  font-size: 16px; /* Increased font size for the button text */
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 6px; /* Slightly larger border radius */
  cursor: pointer;
}

.admin-dashboard-button:hover {
  background-color: #0056b3;
}