/* src/components/css/FeedbackStats.css */

.feedback-stats {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .feedback-stats h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .dropdown-container {
    margin-bottom: 20px;
  }
  
  .dropdown-container label {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .dropdown-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
    font-size: 16px;
    width: 200px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  table td {
    font-size: 14px;
    color: #666;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table tr:hover {
    background-color: #f1f1f1;
  }
  


  /* pdfPrintButtons.module.css */
.pdfPrintButtons {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 10px; /* Add some space between the buttons */
  margin-top: 20px; /* Space above the buttons */
}

.pdfPrintButtons button {
  background-color: #007bff; /* Bootstrap blue */
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pdfPrintButtons button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.pdfPrintButtons a {
  text-decoration: none; /* Remove underline from link */
}

.pdfPrintButtons .pdfDownloadLink {
  background-color: #28a745; /* Green for download button */
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pdfPrintButtons .pdfDownloadLink:hover {
  background-color: #1e7e34; /* Darker green on hover */
}
