/* Ensure the body does not scroll */
body {
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url('../assets/bglogin.png') no-repeat center center;
    background-size: cover; /* Ensure the background image covers the entire container */
}

.card-container {
    display: flex;
    width: 800px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
}

.role-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-right: 1px solid #ddd;
    width: 50%;
}

.role-button {
    width: 200px;
    height: 200px;
    margin: 15px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 12px;
    transition: border-color 0.3s;
}

.selected-role-button {
    border-color: #000;
}

.login-card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.logo {
    width: 150px;
    margin-bottom: 30px;
}

.title {
    font-size: 28px;
    margin-bottom: 30px;
}

.label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.input {
    width: 90%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.button {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 16px;
}

.register-button {
    width: 100%;
    padding: 12px;
    background-color: #00bfff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.error-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.error-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.error-content p {
    margin-bottom: 15px;
    font-size: 16px;
    color: #111111;
}

.error-content button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.error-content button:hover {
    background-color: #cc0000;
}
