/* Sidebar Container */
.sidebar {
  background-color: var(--bg-sidebar);
  position: fixed;
  top: 61px;
  height: 100%;
  width: 250px;
  transition: width 0.4s ease;
  white-space: nowrap;
  z-index: 1;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 10px 10px 0;
}

.sidebar.closed {
  width: 80px;
  transition: width 0.4s ease;
}

header {
  display: flex;
  align-items: center;
  padding: 24px 29px;
  height: 80px;
  width: 100%;
}

header .menu-toggle {
  cursor: pointer;
  transition: transform 0.8s;
}

header .menu-toggle.rotate {
  transform: rotate(-180deg);
}

header .sidebar-title {
  color: var(--text-color);
  font-size: 24px;
  font-weight: bold;
  margin-left: 70px;
}

.menu-links {
  width: 100%;
  list-style: none;
  padding-top: 10px;
}

.menu-links a img {
  padding-left: 27px;
}

.menu-links > li {
  display: flex;
  align-items: center;
  background-color: var(--light-green);
  gap: 15px;
  margin: 0 14px 20px;
  padding-left: 10px;
  height: 50px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-links > li:hover {
  background-color: var(--bg-sidebar);
  color: #FFFDD0;
}

.links-list a {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding: 30px 0;
  text-decoration: none;
  color: var(--text-color);
  transition: background-color 0.4s ease;
}

.links-list a:hover {
  background-color: var(--light-green);
}

/* Hide Element */
.hideElement {
  opacity: 0;
  transition: opacity 0.3s linear;
}

/* Bottom Content */
.bottom-content {
  display: flex;
  align-items: left;
  text-align: left;
  justify-content: space-between;
  background-color: var(--light-green);
  position: absolute;
  gap: 9px;
  padding: 8px 14px;
  width: 100%;
  height: 60px;
  bottom: 0;
  border-radius: 0 0 10px 0;
}
.bottom-content .developed-by {
  font-size: 13px;
  color: #ffffff;
  margin-left: 14px;
  text-align: left;
  font-weight: bold;
}


.bottom-content .logout {
  cursor: pointer;
  margin-right: -24px;
}
