/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-sidebar: #010f17;
  --light-green: #252323;
  --bg-color: #dce4e3;
  --light-grey: #178778;
  --text-color: #FFF;
}

/* Sidebar Container */
.sidebar {
  background-color: var(--bg-sidebar);
  position: fixed;
  top: 0;
  width: 15vw; /* Responsive width */
  transition: width 0.3s ease;
  white-space: nowrap;
  z-index: 1000;
  left: 0;
}

.sidebar.close {
  width: 5vw; /* Width when closed */
}

/* Upper Navbar */
.upper-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh; /* Height based on viewport height */
  background-color: #050412;
  padding: 0 2vw; /* Responsive padding */
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  border-bottom-right-radius: 2vw; /* Rounded corners */
  box-shadow: 0 0.2vh 1vh rgba(0, 0, 0, 0.1);
  z-index: 500;
}

/* Main Layout */
.main-layout {
  display: flex;
  overflow: hidden;
  margin-left: 0; /* Adjust margin based on sidebar width */
  margin-right: 0;
  padding-right: 0;
  transition: margin-left 0.3s ease;
  margin-top: 6vh; /* Margin below upper navbar */
}

.main-layout.expanded {
  margin-left: 5vw; /* Margin when sidebar is closed */
}

.main-layout.collapsed {
  margin-left: 15vw; /* Margin when sidebar is open */
}

/* Main Content */
.main-content {
  display: flex;
  flex-direction: row;
  margin-left: 1vw; /* Margin from the left edge of the screen */
  margin-top: 6vh; /* Align below the upper navbar */
  position: relative;
  width: calc(100% - 1vw); /* Full width minus margin */
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 6vh); /* Full viewport height minus navbar height */
  margin-left: 2vw; /* Shift content to the right */
}

.student-main-content-part1 {
  flex: 4; /* 80% width */
  padding: 2vw; /* Responsive padding */
  overflow-y: auto;
  background-color: #202027;
  box-sizing: border-box;
  margin-left: 0;
  margin-bottom: 5vh;
  margin-top: 2vh;
}

.student-main-content-part2 {
  flex: 1; /* 20% width */
  padding: 2vw; /* Responsive padding */
  overflow-y: auto;
  background-color: #252323;
  box-sizing: border-box;
  margin-right: 0;
}
