.student-main-content-part2 {
    padding: 20px;
    background-color: #f5f5f5; /* Cream grey color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .react-calendar {
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }
  
  .react-calendar__navigation button {
    color: #000;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
  }
  
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
  }
  
  .react-calendar__tile--active {
    background: #f5f5f5;
    color: black;
    border-radius: 6px;
  }
  
  .react-calendar__tile--now {
    background: #ffffe0;
    border-radius: 6px;
  }
  